In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from time import time

In [5]:
# from pyarrow.parquet import ParquetFile
# import pyarrow as pa 

# pf = ParquetFile('./data/yellow_tripdata_2022-01.parquet') 
# parq_rows = next(pf.iter_batches()) 
# df = pa.Table.from_batches([parq_rows]).to_pandas()

In [6]:
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz -P data/

--2024-01-05 22:25:52--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240106%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240106T032553Z&X-Amz-Expires=300&X-Amz-Signature=76d87f2db3962ff732242e096297b25603cb6dbf2341843c3729b9c06e6dab38&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-05 22:25:52--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240106%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240106T032553Z&X-Amz-Expires=300&X-Amz-Signature=76d87f2db3962ff732242e096297b25603cb6dbf2341843c3729b9c06e6dab38&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘data/yellow_tripdata_2021-01.csv.gz’

yellow_tripdata_202 100%[===================>]  23.87M  15.9MB/s    in 1.5s

2024-01-05 22:25:54 (15.9 MB/s) - ‘data/yellow_tripdata_2021-01.csv.gz’ saved [25031880/25031880]

In [3]:
df_iter = pd.read_csv('./data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [5]:
df.shape

(100000, 18)

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
engine = create_engine('postgresql://root:root@localhost:5444/ny_taxi')

In [8]:
pgSchema = pd.io.sql.get_schema(df, 'yellow_taxi_data',con=engine)
print(pgSchema)
# If datetime is not identified: df.column = pd.to_datetime(df.column)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [13]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.72 s, sys: 49.7 ms, total: 2.77 s
Wall time: 5.49 s

1000

In [14]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 5.822 second
inserted another chunk, took 5.702 second
inserted another chunk, took 5.566 second
inserted another chunk, took 5.564 second
inserted another chunk, took 5.422 second
inserted another chunk, took 5.644 second
inserted another chunk, took 5.602 second
inserted another chunk, took 5.393 second
inserted another chunk, took 5.659 second
inserted another chunk, took 5.753 second

/tmp/ipykernel_53237/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 5.709 second
inserted another chunk, took 3.397 second

StopIteration:

In [9]:
table_name = 'yellow_taxi_data'

# Use the to_sql method to create the schema
df.to_sql(table_name, engine, schema='public', if_exists='replace', index=False)

# Optional: Print the schema
print(engine.execute(f"SELECT * FROM information_schema.tables WHERE table_schema = 'public' AND table_name = '{table_name}'").fetchall())

[('ny_taxi', 'public', 'yellow_taxi_data', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "yellow_taxi_data" does not exist
LINE 1: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup...
                                      ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge) VALUES (%(index)s, %(VendorID)s, %(tpep_pickup_datetime)s, %(tpep_dropoff_datetime)s, %(passenger_count)s, %(trip_distance)s, %(RatecodeID)s, %(store_and_fwd_flag)s, %(PULocationID)s, %(DOLocationID)s, %(payment_type)s, %(fare_amount)s, %(extra)s, %(mta_tax)s, %(tip_amount)s, %(tolls_amount)s, %(improvement_surcharge)s, %(total_amount)s, %(congestion_surcharge)s)]
[parameters: ({'index': 100000, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 42, 51), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 51, 18), 'passenger_count': 1, 'trip_distance': 1.43, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 170, 'DOLocationID': 161, 'payment_type': 2, 'fare_amount': 7.5, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 10.8, 'congestion_surcharge': 2.5}, {'index': 100001, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 4, 39), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 18, 41), 'passenger_count': 1, 'trip_distance': 2.82, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 170, 'DOLocationID': 143, 'payment_type': 2, 'fare_amount': 12.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 15.3, 'congestion_surcharge': 2.5}, {'index': 100002, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 12, 49), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 31, 21), 'passenger_count': 0, 'trip_distance': 2.7, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 68, 'DOLocationID': 239, 'payment_type': 1, 'fare_amount': 13.5, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 3.35, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 20.15, 'congestion_surcharge': 2.5}, {'index': 100003, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 43, 55), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 48, 45), 'passenger_count': 1, 'trip_distance': 0.7, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 246, 'DOLocationID': 68, 'payment_type': 2, 'fare_amount': 5.5, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 8.8, 'congestion_surcharge': 2.5}, {'index': 100004, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 59, 16), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 15, 7, 8), 'passenger_count': 1, 'trip_distance': 1.6, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 161, 'DOLocationID': 234, 'payment_type': 1, 'fare_amount': 8.0, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 2.25, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 13.55, 'congestion_surcharge': 2.5}, {'index': 100005, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 19, 25), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 27, 25), 'passenger_count': 1, 'trip_distance': 2.04, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 48, 'DOLocationID': 234, 'payment_type': 1, 'fare_amount': 8.5, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 2.36, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 14.16, 'congestion_surcharge': 2.5}, {'index': 100006, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 5, 13), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 9, 53), 'passenger_count': 1, 'trip_distance': 0.9, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 161, 'DOLocationID': 229, 'payment_type': 1, 'fare_amount': 5.5, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 1.75, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 10.55, 'congestion_surcharge': 2.5}, {'index': 100007, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 4, 14, 13, 43), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 4, 14, 25, 17), 'passenger_count': 1, 'trip_distance': 2.4, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 233, 'DOLocationID': 90, 'payment_type': 1, 'fare_amount': 10.5, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 2.5, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 16.3, 'congestion_surcharge': 2.5}  ... displaying 10 of 100000 total bound parameter sets ...  {'index': 199998, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 14, 11), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 29, 58), 'passenger_count': 2, 'trip_distance': 5.24, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 68, 'DOLocationID': 238, 'payment_type': 1, 'fare_amount': 18.0, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 1.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 23.3, 'congestion_surcharge': 2.5}, {'index': 199999, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 45, 43), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 52, 37), 'passenger_count': 2, 'trip_distance': 1.49, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 68, 'DOLocationID': 114, 'payment_type': 1, 'fare_amount': 7.0, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 1.5, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 12.8, 'congestion_surcharge': 2.5})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [27]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0