In [5]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [4]:
pd.read_csv('./data/test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [6]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/03/09 15:01:04 WARN Utils: Your hostname, blackitalian resolves to a loopback address: 127.0.1.1; using 172.30.83.91 instead (on interface eth0)
24/03/09 15:01:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/09 15:01:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/09 15:01:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('./data/tips.csv')