In [11]:
import pyspark

In [12]:
pyspark.__file__

'/home/blackitalian/miniconda3/envs/pyspark/lib/python3.11/site-packages/pyspark/__init__.py'

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [15]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-11 08:54:03--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.104.120, 52.216.41.96, 52.216.209.24, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.104.120|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.2’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.04s

2024-03-11 08:54:04 (327 KB/s) - ‘taxi+_zone_lookup.csv.2’ saved [12322/12322]

In [16]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [17]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [18]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [19]:
df.write.parquet('data/zones')

In [20]:
!ls -lh

total 260K
-rw-r--r-- 1 blackitalian blackitalian 8.0K Mar 11 08:53 03_test.ipynb
-rw-r--r-- 1 blackitalian blackitalian  24K Mar 11 05:26 04_pyspark.ipynb
-rw-r--r-- 1 blackitalian blackitalian  31K Mar 11 05:57 05_taxi_schema.ipynb
-rw-r--r-- 1 blackitalian blackitalian  11K Mar 11 08:43 06_spark_sql.ipynb
-rw-r--r-- 1 blackitalian blackitalian 2.5K Mar 11 05:38 06_spark_sql.py
-rw-r--r-- 1 blackitalian blackitalian  28K Mar 11 08:44 07_groupby_join.ipynb
-rw-r--r-- 1 blackitalian blackitalian  20K Mar 10 22:35 08_rdds.ipynb
-rw-r--r-- 1 blackitalian blackitalian 4.3K Mar 10 22:35 09_spark_gcs.ipynb
-rw-r--r-- 1 blackitalian blackitalian 3.0K Mar 10 22:35 cloud.md
drwxr-xr-x 7 blackitalian blackitalian 4.0K Mar 11 08:54 data
-rw-r--r-- 1 blackitalian blackitalian  544 Mar 11 05:43 download_data.sh
-rw-r--r-- 1 blackitalian blackitalian  62K Mar 11 05:20 head.csv
-rw-r--r-- 1 blackitalian blackitalian  13K Mar 10 22:35 taxi+_zone_lookup.csv
-rw-r--r-- 1 blackitalian blackitalian  13K Aug 17  2016 taxi+_zone_lookup.csv.1
-rw-r--r-- 1 blackitalian blackitalian  13K Aug 17  2016 taxi+_zone_lookup.csv.2